.eighth-section 
    h5 What we have achieved till date
    .eighth-section-second-block 
        .eighth-section-second-block-image
        .eighth-section-second-block-right-side
            .eighth-section-second-block-right-side-text Metre Per Secod is a 5 year old India's Premium and Best Rated Car Maintenance Startup. A glimpse of what we have achieved is as follows
            .eighth-section-second-block-right-side-card-list
                .eighth-section-second-block-right-side-card
                    .eighth-section-second-block-right-side-card-image
                        img(src="../images/eight-section-image2.png", alt="eight-section-image2")
                    .eighth-section-second-block-right-side-card-text
                        .eighth-section-second-block-right-side-card-text-list 
                            span.text1 150K+ 
                            span.text2 Car’s get Serviced
                .eighth-section-second-block-right-side-card
                    .eighth-section-second-block-right-side-card-image
                        img(src="../images/eight-section-image3.png", alt="eight-section-image3")
                    .eighth-section-second-block-right-side-card-text 
                        .eighth-section-second-block-right-side-card-text-list
                            span.text1 4.8  
                            span.text2 Rated
                .eighth-section-second-block-right-side-card
                    .eighth-section-second-block-right-side-card-image
                        img(src="../images/eight-section-image4.png", alt="eight-section-image4")
                    .eighth-section-second-block-right-side-card-text 
                        .eighth-section-second-block-right-side-card-text-list
                            span.text1 100K+ 
                            span.text2 Happy Customers
