.fifth-section 
    .container 
        .fifth-section-content-block
            h4 Company’s overview car services
            .fifth-section-card-list 
                .fifth-section-card
                    .fifth-section-card-text Car Repairs 
                .fifth-section-card
                    .fifth-section-card-text Car Inspection 
                .fifth-section-card
                    .fifth-section-card-text Car Denting & Painting 
                .fifth-section-card
                    .fifth-section-card-text Car Major Repairs
                .fifth-section-card
                    .fifth-section-card-text Car Custom Repairs
                .fifth-section-card
                    .fifth-section-card-text Car AC Service
