section.first-section
    .container
        .first-section-content-block
            .first-section-button 
                .first-section-button-text Select A car
            .contact-us
                .whatsapp-image 
                    img(src="../images/logos_whatsapp.png", alt="logos_whatsapp")
                .phone-icon
                    i.fa-solid.fa-phone

