.container
    .footer-content-block
        .footer-left-side
            .footer-left-side-text1 Contact us
            .footer-left-side-text2 If it is something about Cars, let's talk
            .footer-left-side-text3 
                .footer-left-side-text3-first Metre Per Second - Car Service & Car Repair 
                a.footer-left-side-text3-second_map(href='') 3rd Floor, T-hub Building, IIIT Campus, Gachibowli, Hyderaad

        .footer-right-side 
            .footer-right-side-contact
                a.footer-right-side-contact_phone(href='tel:8328620888') 832-862-0888 
                a.footer-right-side-contact_email(href='mailto:support@metrepersecond.com') support@metrepersecond.com
            .footer-right-side-social-links 
                a.footer-right-side-social-links-card(href='')
                    i.fa-brands.fa-facebook-f
                a.footer-right-side-social-links-card(href='')
                    i.fa-brands.fa-instagram-square
                a.footer-right-side-social-links-card(href='')
                    i.fa-brands.fa-youtube
                a.footer-right-side-social-links-card(href='')
                    i.fa-brands.fa-whatsapp-square
                a.footer-right-side-social-links-card(href='')
                    i.fa-brands.fa-linkedin
    

