footer
    .container
        .footer-left-side
            .footer-left-side-text1 Contact us
            .footer-left-side-text2 If it is something about Cars, let's talk
            .footer-left-side-text3 
                .footer-left-side-text3-first Metre Per Second - Car Service & Car Repair 
                .footer-left-side-text3-second 3rd Floor, T-hub Building, IIIT Campus, Gachibowli, Hyderaad
        .footer-right-side 
            .footer-right-side-contact 832-862-0888 support@metrepersecond.com
            .footer-right-side-social-links 
                .footer-right-side-social-links-card
                    <i class="fa-brands fa-facebook-f"></i>
                .footer-right-side-social-links-card
                    <i class="fa-brands fa-instagram-square"></i>
                .footer-right-side-social-links-card 
                    <i class="fa-brands fa-youtube"></i>
                .footer-right-side-social-links-card 
                    <i class="fa-brands fa-whatsapp-square"></i>
                .footer-right-side-social-links-card 
                    <i class="fa-brands fa-linkedin"></i>
   

