.container
    .footer-content-block
        .footer-left-side
            .footer-left-side-text1 Contact us
            .footer-left-side-text2 If it is something about Cars, let's talk
            .footer-left-side-text3 
                .footer-left-side-text3-first Metre Per Second - Car Service & Car Repair 
                <a href="" class="footer-left-side-text3-second_map">3rd Floor, T-hub Building, IIIT Campus, Gachibowli, Hyderaad</a>

        .footer-right-side 
            .footer-right-side-contact
                <a href="tel:8328620888" class="footer-right-side-contact_phone">832-862-0888</a>
                <a href="mailto:support@metrepersecond.com" class="footer-right-side-contact_email">support@metrepersecond.com</a>
            .footer-right-side-social-links 
                <a href="" class="footer-right-side-social-links-card">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="" class="footer-right-side-social-links-card">
                    <i class="fa-brands fa-instagram-square"></i>
                </a>
                <a href="" class="footer-right-side-social-links-card">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="" class="footer-right-side-social-links-card">
                    <i class="fa-brands fa-whatsapp-square"></i>
                </a>
                <a href="" class="footer-right-side-social-links-card">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
    

