.fourth-section 
    .container 
        .fourth-section-first-block 
            .fourth-section-first-block-left-wind 
                img(src="../images/fourth-section-left-wind.png", alt="fourth-section-left-wind")
            .fourth-section-first-block-center-text
                h3 about us
                p At meter per second, we take pride in our values
                p - service, integrity and excellece.
            .fourth-section-first-block-right-wind
                img(src="../images/fourth-section-right-wind.png", alt="fourth-section-right-wind")
        .fourth-section-second-block
            .fourth-section-second-block-text
                h3 1.
                h5 Who we are?
                p Established in 2016, with a Vision to Provide Customers Transparent, Convenient and Reliable Car Service and Repair right at Customer Doorstep in Hyderabad
            .fourth-section-second-block-text
                h3 2.
                h5 What is the problem?
                p Car owners often lack visibility regarding the quality of Mechanics, usage of Spare parts and Transparency in price.
            .fourth-section-second-block-text
                h3 3.
                h5 How do we help?
                p Now, Metre Per Second is a Premier Doorstep Car Care Company providing Car Service with Professional Technicians right at your location in Hyderabad.
            