.container
    .header-content-block
        .logo
            img(src="../images/header-logo.png", alt="header-logo")
        .nav
            .bars 
                <i class="fa-solid fa-bars"></i>
            ul.navigation-list
                li Home
                li Services
                li Cart
            .login-button
                <a href="" class="login-text"> Login </a>
    

   
        
   
