
header 
    .container
        .logo
            img(src="../images/header-logo.png", alt="header-logo")
        .nav
            .bars 
                <i class="fa-solid fa-bars"></i>
            ul.navigation-list
                li Home
                li Services
                li Cart
            button.login
                .login-text Login 
    

   
        
   
