.ninth-section 
    .container 
        h4 4 Step Process
        .ninth-section-card-block
            .ninth-section-card-list 
                .ninth-section-card
                    .ninth-section-card-number 01
                    .ninth-section-card-text Select your car from our wide range of car make catalogue
                .ninth-section-card
                    .ninth-section-card-number 02
                    .ninth-section-card-text Pick your preferred service for car, at affordable prices.
                .ninth-section-card
                    .ninth-section-card-number 03
                    .ninth-section-card-text Select where you want your car to get repaired
                .ninth-section-card
                    .ninth-section-card-number 04
                    .ninth-section-card-text Go cash less by pay paying online and submit your feedback.
            .ninth-section-card-list-right-side 
                h2 Metre Per Second
                .ninth-section-card-list-right-side-text Car Repair at your Doorstep
                .ninth-section-card-list-right-side-button1 
                .ninth-section-card-list-right-side-button2
                    .ninth-section-card-list-right-side-button2-text Go to services
                    img(src="../images/menu.png", alt="menu")
        button.back-to-top 
            .back-to-top-text Back to top
