.second-section
    .container 
        .second-section-text-list 
            h3 Car repair at your door step
            .second-section-button-block
                button.second-section-button 
                    .second-section-button-text Select A car 
        .second-section-image
            img(src="../images/second-section-image.png", alt="second-section-image")