section.seventh-section 
    .container 
        .seventh-section-content-block
            h4 Our Trademark
            .seventh-section-card-list 
                .seventh-section-card
                    .seventh-section-card-image-block
                        img(src="../images/seven-section-image1.png", alt="seven-section-image1")
                    .seventh-section-card-text1 90 Min Car Service
                    .seventh-section-card-text2 Experience Quick Service which completes in just 90 Minutes, which will help you save your precious time and efforts of visiting Workshops to get your Car Serviced.
                .seventh-section-card
                    .seventh-section-card-image-block
                        img(src="../images/seven-section-image2.png", alt="seven-section-image2")
                    .seventh-section-card-text1 In-house Technicians
                    .seventh-section-card-text2 Metre Per Second recruits Best in class German Car Technicians with a Minimum of 8+ years of Experience and Train them. After enabling them with Garage Nation's standards they are assigned for Services/repairs
                .seventh-section-card
                    .seventh-section-card-image-block
                        img(src="../images/seven-section-image3.png", alt="seven-section-image3")
                    .seventh-section-card-text1 Savings up to 40%
                    .seventh-section-card-text2 Metre Per Second provides 100% Transparent Service which means all Parts are opened right in front of you while performing service and no more surprised or extra spares or costs
            
