section.sixth-section 
    .container 
        .sixth-section-content-block
            h4 Our services
            .sixth-section-card-list 
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image1.png", alt="six-section-image1")
                        .sixth-section-card-number 01
                    .sixth-section-card-text General Service
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image2.png", alt="six-section-image2")
                        .sixth-section-card-number 02
                    .sixth-section-card-text Denting and Painting
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image3.png", alt="six-section-image3")
                        .sixth-section-card-number 03
                    .sixth-section-card-text Car Inspection
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image4.png", alt="six-section-image4")
                        .sixth-section-card-number 04
                    .sixth-section-card-text Battery replacement
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image5.png", alt="six-section-image5")
                        .sixth-section-card-number 05
                    .sixth-section-card-text AC service & repair
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image6.png", alt="six-section-image6")
                        .sixth-section-card-number 06
                    .sixth-section-card-text Car fitments
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image7.png", alt="six-section-image7")
                        .sixth-section-card-number 07
                    .sixth-section-card-text Car Detailing Services
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image8.png", alt="six-section-image8")
                        .sixth-section-card-number 08
                    .sixth-section-card-text Car major repairs
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image9.png", alt="six-section-image9")
                        .sixth-section-card-number 09
                    .sixth-section-card-text Windshield & Lights
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image10.png", alt="six-section-image10")
                        .sixth-section-card-number 10
                    .sixth-section-card-text Suspeension Repairs
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image11.png", alt="six-section-image11")
                        .sixth-section-card-number 11
                    .sixth-section-card-text Clutch Repairs
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image12.png", alt="six-section-image12")
                        .sixth-section-card-number 12
                    .sixth-section-card-text Tires & Wheels
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image13.png", alt="six-section-image13")
                        .sixth-section-card-number 13
                    .sixth-section-card-text Brake Repairs
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image14.png", alt="six-section-image14")
                        .sixth-section-card-number 14
                    .sixth-section-card-text Car Services
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image15.png", alt="six-section-image15")
                        .sixth-section-card-number 15
                    .sixth-section-card-text Membership
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us
                .sixth-section-card
                    .sixth-section-card-image-block 
                        .sixth-section-card-image 
                            img(src="../images/six-section-image16.png", alt="six-section-image16")
                        .sixth-section-card-number 16
                    .sixth-section-card-text Insurence Claims
                    .sixth-section-button
                        .sixth-section-button-text Enquire Us