.third-section 
    .container
        .third-section-content-block
            .third-section-text Our partners
            .third-section-card-list 
                .third-section-card 
                    img(src="../images/third-section-image1.png", alt="third-section-image1")
                .third-section-card 
                    img(src="../images/third-section-image2.png", alt="third-section-image2")
                .third-section-card
                    img(src="../images/third-section-image3.png", alt="third-section-image3")
                .third-section-card 
                    img(src="../images/third-section-image4.png", alt="third-section-image4")
                .third-section-card 
                    img(src="../images/third-section-image5.png", alt="third-section-image5")
                .third-section-card 
                    img(src="../images/third-section-image6.png", alt="third-section-image6")