header {
    padding: 52px 0 23px 0;
    .container {
        justify-content: space-between;
        align-items: center;
        
        .logo img {
            height: 65px;
            width: 366px;
        }
       
        .nav {
            display: flex;
            align-items: center;
            .bars {
                visibility: hidden;
            }
        
            
            ul.navigation-list {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                margin-bottom: unset;
                & li {
                    margin-right: 50px;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 23px;
                }
            }    
            .login {
                padding: 18px 42px;
                border: 1px solid #000000;
                background: #FFFFFF;
                &-text {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 22px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 980px) {
    
    .navigation-list {
        visibility: hidden;
        width: 0%;
    }
    
    header .container .nav {
        justify-content: flex-end;
        width: 250px;
        .bars {
            visibility: visible;        
            i {
                font-size: 30px;
                margin-right: 50px;
            }   
        }
        ul.navigation-list li {
            margin-right: unset;
        }
    }
}

@media (max-width: 720px) {
    header {
        padding: 20px 0 10px 0;
        header .container {
            flex-wrap: wrap;
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                margin-bottom: 10px;
            }
            .nav {
                justify-content: center;
                width: 100%;
            }
        }
    }

}


@media (min-width: 320px) and (max-width:480px) {
    header {
     padding: 20px 0 10px 0;
        .container {
            padding: unset;
            .logo img {
                width: 280px;
                height: unset;
            }
            .nav button.login {
                padding: 6px 30px;
            }
        }
    }
}


