.ninth-section {
    padding: 100px 0 78px 0;
    background: #F0F2F4;
    .container  {

        h4 {
            font-weight: 500;
            font-size: 46px;
            line-height: 56px;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 100px;
        }

        .ninth-section-card-block {
            margin-bottom: 79px;
        }

        .ninth-section-card-list {
            display: grid;
            grid-gap: 21px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 335px);
            
            .ninth-section-card {
                padding: 40px 10px 10px 30px;
                background: #FFFFFF;
                max-width: 277px;

                .ninth-section-card-number {
                    font-weight: 400;
                    font-size: 81.5484px;
                    line-height: 66px;
                    color: #E5E5E5;
                    margin-bottom: 60px;
                }

                .ninth-section-card-text {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    max-width: 230px;
                }
            }

            .ninth-section-card-button-block {
                padding: 120px 39px 0 39px; 
                background: #FFFFFF;
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 3;

                h2 {
                    font-weight: 700;
                    font-size: 46px;
                    line-height: 56px;
                    text-align: center;
                    text-transform: capitalize;
                    margin-bottom: 18px;
                }

                .ninth-section-card-button-block-text {
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 44px;
                    text-align: center;
                    text-transform: capitalize;
                    margin-bottom: 60px;
                }

                .ninth-section-card-button-block-button1 {
                    background: #F5F5F5;
                    border: 1.6px solid #000000;
                    border-radius: 9px;
                    height: 114px;
                    margin-bottom: 44px;
                }

                .ninth-section-card-button-block-button2 {
                    background: #F5F5F5;
                    border: 2px solid #E9E743;
                    border-radius: 9px;
                    padding: 36px 0 36px 0px;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 0.3s ease 0s;

                    .ninth-section-card-button-block-button2-text {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 36px;
                        line-height: 42px;
                        text-align: center;
                        text-transform: capitalize;
                        margin-right: 18px;
                    }
                }

                .ninth-section-card-button-block-button2:hover {
                    background-color: #E9E743;
                }
            }
        }
        
        .back-to-top {
            background: #E5E5E5;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 16.2791px;
            padding: 24px 38px;
            width: 225px;
            margin: 0 auto;
            cursor: pointer;
            transition: all 0.3s ease 0s;

            .back-to-top-text {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 25.8854px;
                line-height: 21px;
                text-align: center;
            }
        }

        .back-to-top:hover {
            background-color: #E9E743;
        }
    }
}

@media (max-width: 1200px) {
    .ninth-section {
        padding: 100px 30px 78px 30px;
    }
}

@media (max-width: 980px) {
    .ninth-section .container .ninth-section-card-list {
        place-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 335px);

    }

    .ninth-section .container .ninth-section-card-list .ninth-section-card {
        max-width: 100%;
    }

    .ninth-section .container .ninth-section-card-list .ninth-section-card-button-block {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

@media (max-width: 530px) {
    .ninth-section {
        padding: 70px 20px 78px 20px;

        .container h4 {
            margin-bottom: 70px;
        }

        .ninth-section-card-block .ninth-section-card-list {
            place-content: center;
            grid-template-columns: repeat(1, 300px);
            grid-template-rows: repeat(6, 335px);

            .ninth-section-card-button-block {
                padding: 70px 20px 0 20px;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 5;
                grid-row-end: 7;

                h2 {
                    font-size: 40px;
                    line-height: 50px;
                }

                .ninth-section-card-button-block-text {
                    font-size: 36px;
                    line-height: 44px;
                }

                .ninth-section-card-button-block-button1 {
                    height: 100px;
                }

                .ninth-section-card-button-block-button2 .ninth-section-card-button-block-button2-text {
                    font-size: 25px;
                    line-height: 35px;
                }
                
                .ninth-section-card-button-block-button2 img {
                    width: 15%;
                }
            }
        }
    }
}   