.seventh-section {
    padding-top: 164px;
    background: #F0F2F4;
    .container {
        flex-direction: column;
        h4 {
            font-size: 46px;
            font-weight: 500;
            text-align: center;
            line-height: 56px;
            text-transform: capitalize;
            margin-bottom: 88px;
        }
        .seventh-section-card-list {
            margin-bottom: 155px;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
            .seventh-section-card .seventh-section-card-image-block {
                background: #FFFFFF;
                margin-bottom: 95px;
                height: 256px;
                position: relative;
                img {
                    position: absolute;
                    top: 50px;
                    right: 30px;
                }            
            }
            .seventh-section-card .seventh-section-card-text1 {
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                text-transform: capitalize;
                margin-bottom: 11px;
                margin-left: 20px;
            }            
            .seventh-section-card .seventh-section-card-text2 {
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                text-transform: capitalize;
                max-width: 330px;
                margin-left: 20px;
            }
        }
    }
}


@media (max-width: 1200px) {
    .seventh-section {
        padding-top: 100px;
        .container .seventh-section-card-list {
            margin-bottom: 50px;
            grid-gap: 50px;
        }
    }

    .seventh-section-card .seventh-section-card-image-block img {
        top: 50px;
        right: 30px;
    }

}          


@media (max-width: 880px) {
    .seventh-section .container .seventh-section-card-list {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        .seventh-section-card .seventh-section-card-image-block img {
            position: absolute;
            top: 70px;
            width: 90%;
            right: 10px;
        }    
    }
}

@media (max-width: 650px) {
    .seventh-section .container .seventh-section-card-list .seventh-section-card .seventh-section-card-image-block {
        width: 370px;
        img {
            top: 30px;
            right: 10px;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .seventh-section .container h4 {
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 50px;
    }
    
    .seventh-section .container .seventh-section-card-list .seventh-section-card .seventh-section-card-image-block {
        width: 270px;
        height: 200px;
        margin-bottom: 60px;
        img {
            width: 90%;
            top: 30px;
        }
    }  
    .seventh-section .container .seventh-section-card-list .seventh-section-card .seventh-section-card-text1,
    .seventh-section .container .seventh-section-card-list .seventh-section-card .seventh-section-card-text2 {
        margin-left: 10px;
    }
}