.seventh-section {
    padding: 164px 30px 155px 30px;
    background: #F0F2F4;
    .container .seventh-section-content-block {
            h4 {
            font-size: 46px;
            font-weight: 500;
            text-align: center;
            line-height: 56px;
            text-transform: capitalize;
            margin-bottom: 88px;
        }
        .seventh-section-card-list {
            display: grid;
            grid-gap: 20px;
            place-content: center;
            grid-template-columns: repeat(3,370px);
            .seventh-section-card .seventh-section-card-image-block {
                background: #FFFFFF;
                margin-bottom: 95px;
                height: 256px;
                position: relative;
                img {
                    position: absolute;
                    top: 50px;
                    right: 30px;
                }            
            }
            .seventh-section-card .seventh-section-card-text1 {
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                text-transform: capitalize;
                margin-bottom: 11px;
                margin-left: 20px;
            }            
            .seventh-section-card .seventh-section-card-text2 {
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                text-transform: capitalize;
                max-width: 330px;
                margin-left: 20px;
            }
        }
    }
}


@media (max-width: 1210px) {
    .seventh-section {
        padding: 100px 30px 100px 30px;
        .container .seventh-section-content-block .seventh-section-card-list {
            grid-template-columns: repeat(2,370px);
        }
    }

    .seventh-section-card .seventh-section-card-image-block img {
        top: 50px;
        right: 30px;
    }

}          


@media (max-width: 780px) {
    .seventh-section .container .seventh-section-content-block .seventh-section-card-list {
        grid-template-columns: repeat(1,370px);
        grid-gap: 50px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .seventh-section {
        padding: 80px 10px 80px 30px;
    }

    .seventh-section .container .seventh-section-content-block h4 {
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 50px;
    }

    .seventh-section .container .seventh-section-content-block .seventh-section-card-list {
        grid-template-columns: repeat(1,300px);
    }

    .seventh-section .container .seventh-section-content-block .seventh-section-card-list .seventh-section-card .seventh-section-card-image-block {
        margin-bottom: 70px;
        height: 210px;
    }
    
    .seventh-section .container .seventh-section-content-block .seventh-section-card-list .seventh-section-card .seventh-section-card-image-block img {
        width: 80%;
    }
}