.sixth-section {
    padding-top: 170px;
    .container {
        flex-direction: column;
        h4 {
            font-weight: 500;
            font-size: 46px;
            line-height: 56px;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 88px;
        }
        .sixth-section-card-list {
            margin-bottom: 139px;
            display: grid;
            grid-gap: 25px;
            grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
            .sixth-section-card {
                border: 1px solid rgba(33, 53, 70, 0.4);
                padding: 50px 0 0 30px;
                .sixth-section-card-image-block {
                    display: flex;
                    height: 120px;
                    margin-bottom: 20px;
                    justify-content: space-between;
                    .sixth-section-card-number {
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 26px;
                        text-align: center;
                        color: #E5E5E5;
                        margin-right: 30px;
                    }
                }
                .sixth-section-card-text {
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 26px;
                    color: rgba(0, 0, 0, 0.8);
                    margin-bottom: 36px;
                    margin-right: 10px;
                    height: 60px;
                }
                .sixth-section-button {
                    padding: 10px 40px;
                    margin-bottom: 39px;
                    background: #F5F5F5;
                    border: 2px solid #E9E743;
                    border-radius: 10px;
                    &-text {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.1em;
                        color: #1F1F1F;
                    }
                }
                .sixth-section-card-image {
                    max-width: 130px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .sixth-section {
        padding-top: 100px;
    }
    
}

@media (max-width: 720px) {
    .sixth-section {
        padding-top: 50px;
        .container h4 {
            margin-bottom: 50px;
        }
    }
    
}
@media (min-width: 320px) and (max-width: 480px) {
    .sixth-section .container .sixth-section-card-list {
        margin-bottom: 50px;
    }
    .sixth-section .container h4 {
        font-size: 40px;
        line-height: 50px;
    }
}