.sixth-section {
    padding: 170px 30px 140px 30px;
    .container .sixth-section-content-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
            font-weight: 500;
            font-size: 46px;
            line-height: 56px;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 88px;
        }
        .sixth-section-card-list {
            display: grid;
            grid-gap: 25px;
            grid-template-columns: repeat(4, 268px);
            .sixth-section-card {
                border: 1px solid rgba(33, 53, 70, 0.4);
                padding: 50px 30px 39px 30px;
                .sixth-section-card-image-block {
                    display: flex;
                    height: 120px;
                    margin-bottom: 20px;
                    justify-content: space-between;
                    .sixth-section-card-number {
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 26px;
                        text-align: center;
                        color: #E5E5E5;
                    }
                }
                .sixth-section-card-text {
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 26px;
                    color: rgba(0, 0, 0, 0.8);
                    margin-bottom: 36px;
                    margin-right: 10px;
                    height: 60px;
                }
                .sixth-section-button {
                    padding: 10px 40px;
                    background: #F5F5F5;
                    border: 2px solid #E9E743;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease 0s;
                    &-text {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.1em;
                        color: #1F1F1F;
                    }
                }
                .sixth-section-button:hover {
                    background-color: #E9E743;
                }
                .sixth-section-card-image {
                    max-width: 130px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .sixth-section .container .sixth-section-content-block .sixth-section-card-list {
        grid-template-columns: repeat(3, 268px);
    }
}

@media (max-width: 980px) {
    .sixth-section {
        padding-top: 100px;
    }
    .sixth-section .container .sixth-section-content-block .sixth-section-card-list {
        grid-template-columns: repeat(2, 268px);
    }
    
}

@media (max-width: 720px) {
    .sixth-section {
        padding-top: 50px;
        .container .sixth-section-content-block h4 {
            margin-bottom: 50px;
        }
    }    
}

@media (max-width: 600px) {
    .sixth-section .container .sixth-section-content-block .sixth-section-card-list {
        grid-template-columns: repeat(1, 268px);
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .sixth-section  {
        padding-bottom: 50px;
    }
    .sixth-section .sixth-section-content-block .container h4 {
        font-size: 40px;
        line-height: 50px;
    }
}