include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        header 
            include pug/sections/header
        main 
            include pug/sections/first-section
            include pug/sections/second-section
            include pug/sections/third-section
            include pug/sections/fourth-section
            include pug/sections/fifth-section
            include pug/sections/sixth-section
            include pug/sections/seventh-section
            include pug/sections/eighth-section
            include pug/sections/ninth-section
        footer 
            include pug/sections/footer
